.container {
   position: relative;
}

.input {
   width: 100%;
   padding: 3px 8px;
   border: 1px solid var(--dark-grey);
   border-radius: 4px;
   font-size: 18px;
   background: none;
   color: white;
}

.dropdownWrapper {
   position: absolute;
   top: 110%;
   left: 0;
   right: 0;
   background-color: var(--background);
   border: 1px solid var(--dark-grey);
   border-radius: 5px;
   z-index: 10;
   max-height: 150px;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 5px 10px;
}

.dropdownItem {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.selectBtn {
   background: none;
   border: none;
   color: var(--light-grey);
   font-size: 16px;
   text-align: left;
   width: 100%;
   cursor: pointer;
}
