.container {
	width: 100%;
	height: 320px;
	margin: 10px 0 16px;
	padding: 12px;
	border-radius: 10px;
	background-color: var(--card-background);
}

.emptyText {
	color: var(--light-grey);
	text-align: center;
	margin-top: 120px;
}
