.container {
   background-color: var(--card-background);
   padding: 5px 20px;
   border-radius: 10px;
}

.table {
   width: 100%;
   border-collapse: collapse;
   position: relative;
}

.tableRow:nth-child(even) {
   background-color: var(--background);
   transition: background-color 0.2s ease-in-out;
}

.tableHeader,
.tableToolbarHeader {
   background-color: var(--card-background);
   position: sticky;
   z-index: 10;
   box-shadow: inset 0 -1px 0 0 var(--dark-grey);
   font-weight: 500;
}

.tableHeader {
   color: var(--primary);
   font-size: 14px;
   top: 60px;
}

.toolbarWrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.tableToolbarHeader {
   top: 0;
   height: 60px;
   width: 100%;
}

.tableData,
.tableHeader {
   padding: 5px 10px;
}

.tableData {
   border-bottom: 3px solid var(--background);
}

.sideWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
