.wrapper {
   margin: 20px auto;
   max-width: 800px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   text-align: center;
   max-width: 600px;
}

.introText {
   text-align: center;

   color: var(--dark-grey);
   margin-top: 10px;
}

.gettingStarted {
   font-size: 18px;
   margin-top: 30px;
   text-align: center;
}

.startingWrapper {
   margin: 10px auto;
   max-width: 800px;
}

.startingItem {
   color: var(--dark-grey);
   font-size: 14px;
}
