.container {
   padding: 20px;
   border: 2px dashed var(--dark-grey);
   border-radius: 10px;
   margin-top: 30px;
   min-height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   max-width: 500px;
}

.instructions {
   text-align: center;
   color: var(--primary);
}
