@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
   --primary: #66fcf1;
   --background: #1c2147;
   --card-background: #2c315b;
   --light-grey: #eceef0;
   --dark-grey: #bdbfc2;
   --info: #495bc9;
   --danger: #ff4f96;
   --warning: #ffa063;
}

body {
   background-color: var(--background);
   color: white;
   font-family: "Poppins", sans-serif;
}
